/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: "gray";
}

.accordion .titled-pane .title {
	-fx-background-color: #CCFF99;
}

.custom-color{
	-fx-background-color: #CCFF99;
}

.custom-color-border{
	-fx-border-color: #CCFF99;
	-fx-border-width: 2px;
}

.slider .track {
	-fx-background-color: #CCFF99;
}

.date-picker .date-picker-display-node{
	-fx-background-color: #CCFF99;
}