<form name="loginForm" class="form-horizontal" style="">
    <div class="form-group">
        <label class="col-sm-4 control-label">Użytkownik</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" ng-model="credentials.email" placeholder="E-mail" ng-disabled="inProgress" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Hasło</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" ng-model="credentials.password" placeholder="Hasło" ng-disabled="inProgress" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-7">
            <button class="btn btn-success" ng-click="login(credentials)" ng-disabled="loginForm.$invalid || inProgress">Zaloguj
                <span class="glyphicon glyphicon-ok" ng-if="!inProgress"></span>
                <i class="fa fa-spinner fa-pulse" ng-if="inProgress"></i>
            </button>
        </div>
    </div>
</form>
